.main-container{
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 3fr 5fr .5fr;
  grid-template-areas: 
    "header header header"
    "about main nav"
    "footer footer footer";
  grid-gap: .3em;
}

header{
	grid-area: header;
	background-color: teal;
}


nav {
	grid-area: nav;
}
main{
	grid-area: main;
	background-color: lightblue;
	
}
aside{
	grid-area: about;
}
footer{
	grid-area: footer;
	background-color: lightgreen;
}
