@import './mixin.scss';


header{
	grid-area: header;
	background-color: teal;
}

nav {
	grid-area: nav;
}

.main-body{
	grid-area: main;
	background: url('./images/cloud-background.jpg');
	color:white;
	-webkit-background-clip: text;
	background-color: orange;
	@include gridCenter;
}
aside{
	grid-area: about;
	@include gridCenter;
}
footer{
	grid-area: footer;
	background-color: lightgreen;
}

.row{
	color:white;

}
@media screen and (min-width: 601px) {
	.row {
		font-size: 20px;
	}
}

@media screen and (max-width: 601px) {
	.row {
		font-size: 10px;
	}
}