@import './mixin.scss';


header{
	grid-area: header;
	background-color: teal;
}

nav {
	grid-area: nav;
}
main{
	grid-area: main;
	// background-color: lightblue;
	@include gridCenter;
	
}
aside{
	grid-area: about;
	@include gridCenter;
}
footer{
	grid-area: footer;
	background-color: lightgreen;
}

