body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.about {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
