.project-icon{
	width:100px;
	height:100px;
	text-align: center;
}

.project-menu{
	display: flex;
	justify-content: center;
	font-size: 1rem;
}

button{
	outline: inherit;
	outline-style: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: white;
}

@media screen and (max-width: 601px) {
	.project-icon{
		font-size: 10px;
	}
}
.demo-img{
	max-width: 50%;
	height: auto;
	
}

.col-lg{
	display: grid;
	justify-items: center;
}